<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Merged with the generated Info.plist (GENERATE_INFOPLIST_FILE=YES).
	     Holds only keys that have no INFOPLIST_KEY_ build setting. -->
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>space.hiraku.tortoiseblocks.block</string>
			<key>UTTypeDescription</key>
			<string>TortoiseBlocks Block</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
